.title-1,
.title-2 {
	font-family: var(--font-accent);
	font-size: 56px;
	line-height: auto;
	letter-spacing: -0.03em;

	@include mediaTablet() {
		font-size: 43px;
	}

	@include mediaMobileMedium() {
		font-size: 32px;
	}

	&--white {
		color: var(--text-white);
		font-family: var(--font-accent);
		font-size: 56px;
		line-height: auto;
		letter-spacing: -0.03em;

		@include mediaTablet() {
			font-size: 43px;
		}

		@include mediaMobileMedium() {
			font-size: 32px;
		}
	}
}

.title-1 {
	color: var(--text-white);
}

.title-2 {
	color: var(--text-black);
}

.title-3 {
	font-family: var(--font-accent);
	font-size: 36px;
	line-height: 133%;
	letter-spacing: -0.01em;
	color: var(--text-black);

	@include mediaTablet() {
		font-size: 32px;
	}

	@include mediaMobileMedium() {
		font-size: 28px;
	}


	&--white {
		color: var(--text-white);
		font-family: var(--font-accent);
		font-size: 36px;
		line-height: 133%;
		letter-spacing: -0.01em;

		@include mediaTablet() {
			font-size: 32px;
		}

		@include mediaMobileMedium() {
			font-size: 28px;
		}
	}
}